.Starter-dish {
    padding: 10px 0 5rem 0;
    background: linear-gradient(136deg, #DAEEFB, #83CDF0);
}

.starter-card, .sweet-card {
    padding: 0;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 18px 40px var(--card-shadow);
}

.starter-card img, .sweet-card img {
    border-radius: 10px;
}
