
 

/* ====== Root Variables ====== */
:root {
    --primary-bg: #FDF7E7;
    --secondary-bg: #ffffff;
    --accent-color: #8f6900;
    --link-color: #4d6400;
    --link-hover: rgb(100, 0, 215);
    --btn-bg: rgb(109, 71, 0);
    --btn-hover-bg: rgb(160, 204, 134);
    --btn-hover-color: black;
    --text-color: #000;
    --footer-bg: #111;
    --footer-link: #ccc;
    --footer-hover: #c59d5f;
    --card-shadow: rgba(0, 0, 0, 0.45);
}

/* ====== Fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Delius', cursive;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    
}
 
/* ====== Images ====== */
img {
    width: auto;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    object-fit: cover;
    margin-bottom: 0;
}

/* ====== Navbar ====== */

/* ====== Social Media ====== */
.socialmedia i {
    font-size: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.socialmedia i:hover {
    color: var(--accent-color);
}

.socialmedia {
    padding-top: 10px;
}

/* ====== Right Div / Carousel ====== */
.section-title {
    display: inline;
}
.section-title h1{
    text-align: center;
}
.section-title p{
    text-align: center;
}

/* ====== Cards / Top Dish / Category ====== */


.card {
    max-width: 300px;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(136deg, #ee4f2f, #fdfffa);
    border-radius: 50px 5px;
    overflow: hidden;
    box-shadow: 0 18px 40px var(--card-shadow);
    transition: box-shadow 0.45s ease;
}

.card:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 50px 5px;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.card-title {
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/* ====== Starter / Sweets Sections ====== */

/* ====== Footer ====== */


/* ====== About Section ====== */
